<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--log4net日志配置路径-->
    <add key="log4net" value="log4net.config"/>
    <!--日志是否开启 0不开启 1开启-->
    <add key="IsWriteLog" value="1"/>
  </appSettings>
</configuration>